%div{class: "taskTitle"}
  %span{class: "icon"}
  %span{class: "text"}=story.title


%table{class: "mainTaskDescription"}
  %tr
    %td Description
    %td=story.description
  %tr{class: "status status-#{story.status}"}
    %td Status
    %td>
      %div{class: "icon"}
      %div{class: "text"}=statuses[story.status]
  %tr{class: "#{story.ready ? 'ready' : ''}"}
    %td Ready
    %td
      %div{class: "icon"}
  %tr{class: "blocked"}
    %td Blocked
    %td=story.blocked_reason
  %tr
    %td Estimate:
    %td=story.estimate
  %tr
    %td Actual
    %td=story.actual
  %tr
    %td To do
    %td=story.to_do

%div{class: "addTask"}
  %a{href:"/projects/#{project.id}/user_stories/#{story.id}/tasks/new"} Add new task

%table{class: "subtasks"}
  %tbody
    %tr
      %th Task name
      %th Status
      %th Executor
      %th Tester
      %th Est.
      %th Act.
      %th To-Do
    -story.tasks.each do |task|
      %tr
        %th
          %a{href:"/projects/#{project.id}/user_stories/#{story.id}/tasks/#{task.id}"}=task.title
        %th=statuses[task.status]
        %th=task.executor ? task.executor.username : nil
        %th=task.tester ? task.executor.username : nil
        %th=task.estimate
        %th=task.actual
        %th=task.to_do
