%form{id: 'new_task_form', class: 'form', action: "/projects/#{project.id}/user_stories/#{story.id}/tasks", method: "post"}
  %ul
    %li
      %span{class: 'labels'}
        %label{for: "title"} Title:
      %span{class: 'values'}
        %input{type: "text", name: "title", class: "text"}
    %li
      %span{class: 'labels'}
        %label{for: "description"} Description:
      %span{class: 'values'}
        %input{type: "text", name: "description", class: "text"}
    %li
      %span{class: 'labels'}
        %label{for: "executor_id"} Executor:
      %span{class: 'values'}
        %select{name:"executor_id", form:"new_user_story_form"}
          -users.each do |user|
            %option{value: "#{user.id}"}
              ="#{user.username}"
    %li
      %span{class: 'labels'}
        %label{for: "tester_id"} Tester:
      %span{class: 'values'}
        %select{name:"tester_id", form:"new_user_story_form"}
          -users.each do |user|
            %option{value: "#{user.id}"}
              ="#{user.username}"
    %li
      %span{class: 'labels'}
        %label{for: "status"} Status:
      %span{class: "values"}
        %select{name:"status", form:"new_user_story_form"}
          -statuses.each do |key, status|
            %option{value: "#{key}"}
              =status
    %li
      %span{class: 'labels'}
        %label{for: "blocked"} Blocked:
      %span{class: "values"}
        %input{type: 'checkbox', name: 'blocked'}
    %li
      %span{class: 'labels'}
        %label{for: "blocked_reason"} Blocked reason:
      %span{class: 'values'}
        %input{type: "text", name: "blocked_reason", class: "text"}
    %li
      %span{class: 'labels'}
        %label{for: "estimate"} Estimate:
      %span{class: 'values'}
        %input{type: "number", name: "estimate", step: 'any'}
    %li
      %span{class: 'labels'}
        %label{for: "actual"} Actual:
      %span{class: 'values'}
        %input{type: "number", name: "actual", step: 'any'}
    %li
      %span{class: 'labels'}
        %label{for: "to_do"} To-Do:
      %span{class: 'values'}
        %input{type: "number", name: "to_do", step: 'any'}
    %li
      %input{type: "submit", value: "Create", class: "button"}
